@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body{
    background-image: url("https://static1.burgosconecta.es/www/multimedia/202002/14/media/cortadas/cieloazul1-k1zG-U100155473657HzH-1968x1216@RC.jpg");
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: #000000;
    font-size: 25px;
    font-family: Georgia;
  }